.navbar {
    border-radius: 20px;
    width: fit-content;
    margin: 1rem auto;
    background-color: rgb(255, 255, 255);
}


.link {
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(72, 74, 71);
    padding: .4rem;
    /* background-color: rgb(255, 255, 255); */
}

.link:first-child {
    padding-left: 1.8rem;
}
.link:last-child {
    padding-right: 1.8rem;
}